extends base

append js
  script(type='text/javascript',src='#{basepath}js/jquery.tooltip.min.js')
  script(type='text/javascript')
    var basepath = '#{basepath}';
    $(document).ready(function () {
      $().tooltip();
      var height = $('#tooltip').innerHeight();
      $('img.tooltip').tooltip({ showURL: false, top: -height, left: 20 });
    
      $('#preview').click(function () {
        var div = $('#previewImage');
        div.html('Loading preview...');
        $.post(basepath+'png', $('#form').serializeArray(), function (data) {
          div.html('');
          div.append($("<img />").attr('src', basepath+'png/'+data.id));
        });
      });
    
      $('#latex').click(function () { downloadFile('tex') });
      $('#pdf').click(function () { downloadFile('pdf') });
      
      $('#template').click(function () {
        var json = prompt("Paste the indicated line from the LaTeX source:");
        if (!json) return;
        json = $.parseJSON(json.trim().replace(/^%\s*/,''));
        
        var form = $('#form');
        for (var i in json) {
          var elt = form.find('[name='+i+']');
          if (elt.size() > 1) elt.val([json[i]]);
          else elt.val(json[i]);
        }
      });      
    });
    
    function downloadFile(ext) {
      $.post(basepath+ext, $('#form').serializeArray(), function (data) {
        window.location.pathname = basepath+ext+'/'+data.id+'/'+data.name;
      });
    }

block body
  h1 Language Family Tree Maker

  form#form(method='post',action='/')
  
    .left
      #space.rowform
        ul
          li
            label.wide Space between sibling nodes:
            input(type='text',name='treesep',tabindex=1,value='4ex',size=6,maxlength=6)
            img.tooltip(src='#{basepath}images/question.png',title='Space between daughters of the same parent, e.g., &lt;i&gt;Baltic&lt;/i&gt; and &lt;i&gt;Slavic&lt;/i&gt;')
          li
            label.wide Parent to daughter length:
            input(type='text',name='levelsep',tabindex=2,value='2cm',size=6,maxlength=6)
            img.tooltip(src='#{basepath}images/question.png',title='Length between parents and daughters, e.g., &lt;i&gt;Balto-Slavic&lt;/i&gt; and &lt;i&gt;Baltic&lt;/i&gt;')
          li
            label.wide Maximum node label width:
            input(type='text',name='LFTwidth',tabindex=3,value='15ex',size=6,maxlength=6)
            img.tooltip(src='#{basepath}images/question.png',title='Maximum width of node labels (language/family names) before wrapping to another line&lt;br&gt;(can be overridden for an individual label by appending &lt;i&gt;~&lt;/i&gt; to it)')
          li
            label.wide Node label padding:
            input(type='text',name='LFTsep',tabindex=4,value='4pt',size=6,maxlength=6)
            img.tooltip(src='#{basepath}images/question.png',title='Whitespace padding/cushion around node labels (language/family names)')
          li
            label.wide Line thickness:
            input(type='text',name='linewidth',tabindex=5,value='0.3pt',size=6,maxlength=6)
            img.tooltip(src='#{basepath}images/question.png',title='Thickness of lines connecting nodes')

      .rowform.left
        ul
          li Style:
            img.tooltip(src='#{basepath}images/question.png',title='In non-flat trees, parent and daughter nodes are always the same distance apart.&lt;br&gt;In flat trees, leaf nodes (nodes with no children) are all displayed parallel to each other.&lt;br&gt;The flat style is generally only practical for smaller trees.')
          li  
            input#style_nonflat(type='radio',name='style',value='nonflat',checked='checked',tabindex=7)
            label(for='style_nonflat') Non-flat
          li
            input#style_flat(type='radio',name='style',value='flat',tabindex=6)
            label(for='style_flat') Flat

      .rowform.left
        ul
          li Direction:
          li
            input#orient_D(type='radio',name='orient',value='D',checked='checked',tabindex=8)
            label(for='orient_D') Top to bottom
          li
            input#orient_R(type='radio',name='orient',value='R',tabindex=9)
            label(for='orient_R') Left to right
          li
            input#orient_L(type='radio',name='orient',value='L',tabindex=10)
            label(for='orient_L') Right to left
          li
            input#orient_U(type='radio',name='orient',value='U',tabindex=11)
            label(for='orient_U') Bottom to top

      .rowform.left
        ul
          li Font:
          li
            input#font_sf(type='radio',name='font',value='sf',checked='checked',tabindex=12)
            label(for='font_sf') Helvetica
          li
            input#font_rm(type='radio',name='font',value='rm',tabindex=13)
            label(for='font_rm') Times
          li
            input#font_tt(type='radio',name='font',value='tt',tabindex=14)
            label(for='font_tt') Courier

    .left
      p Enter tree:
        img.tooltip(src='#{basepath}images/question.png',title='Enter one node (language or family name) per line.&lt;br&gt;The first line contains the root node; subsequent lines contain child nodes.&lt;br&gt;Embedding is indicated with the appropriate number of dashes (-).&lt;br&gt;For an unlabeled node, use a dot (.).&lt;br&gt;To force a label not to wrap across lines, append &lt;i&gt;~&lt;/i&gt;.&lt;br&gt;To push a node up on a flat-style tree, append one &lt;i&gt;^&lt;/i&gt; for each level (after &lt;i&gt;~&lt;/i&gt;, if present).')
      textarea(name="tree",tabindex=15,rows=18,cols=40)
        | Proto-Indo-European~
        | -Balto-Slavic~
        | --Baltic
        | --Slavic
        | ---Russian
        | ---Polish
        | -Germanic
        | --English
        | --German
        | --Dutch
        | --Norwegian
        | -Albanian
        | -.
        | --Italic
        | --Celtic
        | -Greek
        | -Anatolian
          
  .clearfix
  #buttons
    button#preview Preview Tree
    button#latex Download LaTeX source
    button#pdf Download PDF
    button#template Paste Template
  
  #previewImage
